<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
    <h1>Welcome back.</h1>
    <h2>New posts in the clubhouse: </h2>
    <div>
      <% messages.forEach((msg) => {%>
        <div>
          <h3><%= msg.title %></h3>
          <p><%= msg.text %></p>
          <% if(msg.author !== undefined) { %>
              <span>Author: <%= msg.author%></span>
              <br><br>
              <span>Date posted: <%= msg.time%></span>
            <% } else { %>
              <span>Author: *****</span>
              <% } %>
          <% if(user.isadmin === true) { %>
            <a href="/delete/<%= msg.id%>">Delete message</a>
            <% } %>
        </div>
      <%})%>
    </div>
    <div>
      <% if(user.membership_status !== 'member') { %>
        <p>Become a member to see the authors of the messages
          <a href="/welcome">here</a>
        </p>
        <% } %>
      <p>Create a new message <a href="/new-message/<%= user.id%>">here</a></p>
    </div>
    <a href="/logout">Logout</a>
  </div>
</body>
</html>